.ac{
  margin:2rem 5rem;

}
.acontent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.aimg{
  width: 30%;
}
.atitle p{
  font-size: 4rem;
}
.changetext{
  color: rgb(244, 161, 37);
}
.atitle{
  width: 40%;

}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}