
.btnn{
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 10%;
}
.shadow-pop-tr{
  box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000,9px 9px 8px #000000;
  width: 300px;
  height: 300px;

}
.Hr,.Hp,.Hc{
    position: relative;
    width: 300px;
    height: 300px;
}
.Hr{

    border: 3px solid #000000;
    animation: cR2 2s  linear infinite alternate both  ;
}
.Hr:hover{
    background: rgba(250, 0, 255, 0.58);  
    
}
.HRimg{
    margin-top: -15.5rem;
    margin-left: 1.5rem;
    position: absolute;
    z-index: 2;
    width: 250px;
}
@keyframes cR2 {
    0% {
      background-color: #9c0000;
    }
    100% {
      background-color: #ff00ea;
    }
  }

.Hp{
    border: 3px solid #000000;
    animation: cP2 2s  linear infinite alternate both  ;
    
}
.Hp:hover{
    background: #fff700;
}
.HPimg{
    margin-top: -17rem;
    margin-left: 3rem;
    position: absolute;
    z-index: 2;
    width: 200px;
}
@keyframes cP2 {
    0% {
      background-color: #4dff00;
    }
    100% {
      background-color: #fff700;
    }
  }
.Hc{
    border: 3px solid #000000;
    animation: cC2 2s  linear infinite alternate backwards  ;
}
.Hc:hover{
    background: #00ddff;
    
}
.HCimg{
    margin-top: -16rem;
    margin-left: 3rem;
    position: absolute;
    z-index: 2;
    width: 200px;
}

@keyframes cC2 {
    0% {
      background-color: #8c00ff;
    }
    100% {
      background-color: #00ddff;
    }
  }

.shadow-pop-tr:hover {
  box-shadow: none;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715)  both ;
}

  @keyframes shadow-pop-tr {
    0% {
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000,9px 9px 8px #000000;

      
        transform: translateX(0) translateY(0);
       
     }

    100% {
        box-shadow: 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 8px #616161;
        transform: translateX(8px) translateY(8px);
    }
  }
  .bg-pan-left {
	-webkit-animation: bg-pan-left 8s both;
	        animation: bg-pan-left 8s both;
}
@-webkit-keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media screen and (max-width: 1000px) {
    .btnn{
      margin-top: 2rem;
      flex-direction: column;
      align-items: center;
    
  }
  }


 
 
  