.click{
  margin:2rem 5rem;
}
.btnn{
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 10%;
}
.Hr,.Hp,.Hc{
    width: 300px;
    height: 300px;
    box-shadow: 1px -1px #cbcbcb, 2px -2px #cbcbcb, 3px -3px #cbcbcb, 4px -4px #cbcbcb, 5px -5px #cbcbcb, 6px -6px #cbcbcb, 7px -7px #cbcbcb, 8px -8px #cbcbcb,9px -9px 8px #cbcbcb;
}
.Hr{
    background: rgba(250, 0, 255, 0.58);

}
.Hp{
    background: #fff700;

}
.Hc{
    background: #00ddff;
}
.shadow-pop-tr:hover {
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715)  both ;

}

  @keyframes shadow-pop-tr {
    /* 0% {   
        transform: translateX(0) translateY(0);
    } */
    100% {
        box-shadow: 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 #616161, 0 0 8px #616161;
        transform: translateX(8px) translateY(-8px);
    }
  }
  