.Ce{
    margin:2rem 10rem;

}
@keyframes Cfli {
   50%{ filter: drop-shadow(2px 2px 10px blue);
   }
}
.Ctitle{
    width: 30%;
    margin-left: 35%;
    margin-top: 3rem;
    animation: Cfli 2s infinite ;
}

.cPic{
    width: 30%;
    margin-right: 7rem;
}
.ccontact{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
   
    
}
.ccontent{
    margin-top: 5rem;
    /* margin-left: 5rem; */
    /* padding: 0 5rem; */
    text-align: center;
}
.lineS{
    width:8rem;
    height: 10%;
    border-right: solid rgb(119, 119, 119) 4px;
    margin: 2rem 0rem;
}

.info{
    display: flex;
    justify-content: center;
}
.info p{
    padding-left: 1rem;
    font-size: 1.5rem;
}