.pC{
    margin:2rem 5rem;
}

.bC1{
   display: flex;
   justify-content: center;
}
.bott{
    height: 2rem;
}
.title{
    display: flex;
    justify-content: center;
}
@keyframes Pfli {
    50%{ filter: drop-shadow(2px 2px 10px green);
    }
 }
.Ptitle{
    width: 500px;
    margin-top: 3rem;
    animation: Pfli 2s infinite ;
}

.PSelect{
    display: flex;
    justify-content: space-around; 
    margin-top: 5rem;
    
}

.toptext{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color:#46A64F ;
    font-weight: bold;
}
.tape{
    width: 40px;
    height: 60px;
    background-color: rgba(150, 148, 148, 0.371);
    z-index: 2;
    position: absolute;
    margin-top: -2rem;
    margin-left: 11rem;
    border-radius: 2px;
}
.btext{
    font-weight: bold;
    margin-top: 0.5rem;
    display: flex; 
   justify-content: center; 
   font-size: 2rem;
   color:#46A64F ;
}
.pBg{
    width: 400px;
    height: 500px;
    position: relative;
    filter: drop-shadow( 5px 5px 10px #666666);
}

.SLOGO{
    z-index: 2;
    position: absolute;
    width: 320px;
    margin-top: 6rem;
    margin-left: -22rem;
    transform: scale(1,1);
    transition: all .5s ease-out;
}
.BLOGO{
    margin-top: 8.5rem;
    margin-left: -22rem;
    z-index: 2;
    position: absolute;
    width: 300px;
    transform: scale(1,1);
    transition: all .5s ease-out;
}
.SLOGO:hover,.BLOGO:hover{
    transform: scale(1.1,1.1);

}

.bur{
    display: flex;
    flex-direction: row;
}
.BurnerT{
 margin-top: 400px;   
 margin-left: 120px; 
 color: rgb(61, 61, 61);  
}
.BurnerT:hover{
color: yellow;
transition: .5s;
}
.CoffeeT{
    margin-top: 400px;
    margin-left: 60px;   
    color: rgb(61, 61, 61);  
}
.CoffeeT:hover{
    transition: .5s;
    color: pink;
}

.PHouseT{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.HLogo{
    width: 550px;
    height: 100%;
  
}
.H1C{
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}
.CT1{
    width: 40%;
  
}
.CT1 p, .CT2 p, .CT3 p{
   font-size: 1.2rem;
}
.H2C, .H3C{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.Video{
    display: flex;
   justify-content: center;
  

}
.mv,.smv{
    display: none;
}

.CT2, .CT3{
    width: 40%;
 margin-top: 1rem;
display: flex;
justify-content: flex-start;
gap: 1rem;

    }
.CT21 h4{
    color:rgb(119, 119, 117) ;
}
.backP{
    margin: 4rem auto ;
    width: 80px;
    height: 30px;
    background: #8e8e8d;
    color: rgb(255, 255, 255);
    transition: background .2s linear, border-radius .3s ease-in;
}
.backP p{
    font-size: 1.2rem;
    padding-left: 0.8rem;
}
.backP:hover{
    border-radius: 20px; 
    transition: .5s;

}
.B1C{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.BP{
    width:40% ;
   height: 100%;
   
}
ul{
    list-style-type: decimal;
}
li{
    font-size: 1.2rem;
}
.detaillist{
    list-style: disc;
}

.BL{
    width: 300px;
}
.BCT1{
    width:40% ;
    height: 100%;
    margin-left: 2rem;
}
.BCT1 p{
    font-size: 1.2rem;
}
.BF{
    width: 20%;
}
.BT{
    width: 60%;
    margin-left: 2rem;
}
.backbtn{
    width: 150px;
    height: 40px;
    position: relative;
    margin-top: 6rem;
    left:50%;
    background-color: rgba(239, 240, 240, 0.899);
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    
    
  }
  .backbtn::after, .backbtn::before{
    content: '';
    border: 2px solid rgb(133, 246, 72);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -10px;
    animation: borderClip 4s linear infinite;
     
    }
    .backbtn::after{
      animation-delay: -2s;
    }
    @keyframes borderClip {
      0%, 100%{
        clip-path: inset(0 0 95% 0);
      }
      25%{
        clip-path: inset(0 95% 0 0);
      }
      50%{
        clip-path: inset(95% 0 0 0);
      }
      75%{
        clip-path: inset(0 0 0 95%);
      }
    }
    .backbtn:hover::before, .backbtn:hover::after{
      animation-play-state:paused ;
    }
    .backbtn p{
      font-size: 1.2rem;
      line-height: 40px;
      color: black;
    }
    .list1{
        width: 40%;
    }
    .list2{
        width: 60%;
    }
    
@media screen and (max-width: 1300px) {
    .B1C{
        flex-direction: column;
        align-items: center;
        
    }
    .BCT1{
        margin: 2rem 0;
        width: 500px;

    }
    .BP{
        width: 500px;
    }
    .H2C,.H3C{
        flex-direction: column;
        align-items: center;
    }
    .CT2,.CT3{
        width: 100%;
        justify-content: center;
        /* gap: 4rem; */
    }
    .list1{
        width: 50%;
    }
    .list2{
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .Ptitle{
        width: 400px;
    }
    .PSelect{
       
        flex-direction: column;
        margin-top: 5rem;
        justify-content: center;
      
    }
    .pBg{
        width: 300px;
        height: 400px;
      
        position: relative;
        

    }
    .SLOGO{
        z-index: 2;
        position: absolute;
        width: 280px;
        
        margin: 0 1rem;
        
        transform: scale(1,1);
        transition: all 1s ease-out;
    }
    .BLOGO{
      
        margin: 0 1rem;
        z-index: 2;
        position: absolute;
        width: 280px;
        transform: scale(1,1);
        transition: all 1s ease-out;
    }
    .tape{
        margin-left: 8rem;
        margin-top:-27rem ;
    }
    .allm{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .pcard{
        margin: 0 auto;
      
        padding-bottom: 4rem;

    }
    .H1C{
        flex-direction: column;
       align-items: center;
    }
    .HLogo{
        width: 450px;
    }
    .CT1{
        width: 100%;

    }
    .mv{
        display: block;
    }
    .wv{
        display: none;
    }
    .CT2, .CT3{
        flex-direction: column;
        margin-top: 2rem;
      
        gap: 1.5rem;

    }
    .list1{
        width: 100%;
    }
    .list2{
        width: 100%;
    }
   
   



   
}
@media screen and (max-width: 450px) {
    .Ptitle{
        width: 250px;
    }
    
    .pBg{
        width: 300px;
        height: 400px;
        position: relative;
    }
    .BCT1{
       
        width: 300px;

    }
    .BP{
        width: 300px;
    }
    .smv{
        display: block;
    }
    .wv,.mv{
        display: none;
    }
    .pcard{
       margin-left: -2.5rem;
    }
    .HLogo{
        width: 300px;
    }
    /* .tape{
        margin-top: -13rem;
    } */
  

}