
.bott{
    height: 2rem;
}
.Ptitle{
    width: 30%;
    margin-left: 35%;
    margin-top: 3rem;
}
.PSelect{
    display: flex;
    justify-content: space-around; 
    
    margin-top: 4rem;
    margin-left: -5rem;
}
.PSelect h2{
    /* font-weight: bold; */
}


@keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes rotation2 {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
.BACKP1{
    width: 360px;
    height: 377px;
    position: absolute;
    animation: rotation1 20s infinite linear;
   
}
.BACKP2{
    width: 360px;
    height: 377px;
    position: absolute;
    animation: rotation2 20s infinite linear;
    
}
.picc{
    transform: scale(1,1);
    transition: all 1s ease-out;

}
.picc:hover{
    transform: scale(1.1,1.1);
}

.SLOGO{
    z-index: 2;
    position: absolute;
    width: 300px;
    margin-top: 4rem;
    margin-left: 2rem;
}
.BLOGO{
    margin-top: 6.5rem;
    margin-left: 3rem;
    z-index: 2;
    position: absolute;
    width: 280px;
}
.BurnerT{
 margin-top: 400px;   
 margin-left: 120px; 
 color: rgb(61, 61, 61);  
}
.BurnerT:hover{
color: yellow;
transition: .5s;
}
.CoffeeT{
    margin-top: 400px;
    margin-left: 60px;   
    color: rgb(61, 61, 61);  
}
.CoffeeT:hover{
    transition: .5s;
    color: pink;
}

.PHouseT{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.HLogo{
    width: 40%;
    height: 40%;
}
.H1C{
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}
.CT1{
    padding-top: 5rem;
}
.CT1 p, .CT2 p, .CT3 p{
   font-size: 1.2rem;
}
.H2C, .H3C{
    width: 100%;
    margin-top: 5rem;
}
.Video{
    margin-left: 20%;

}
.CT2, .CT3{
 margin-top: 1rem;
display: flex;
justify-content: center;
gap: 8rem;
    }
.CT21 h4{
    color:rgb(119, 119, 117) ;
}
.backP{
    margin: 4rem auto ;
    width: 80px;
    height: 30px;
    background: #8e8e8d;
    color: rgb(255, 255, 255);
    transition: background .2s linear, border-radius .3s ease-in;
}
.backP p{
    font-size: 1.2rem;
    padding-left: 0.8rem;
}
.backP:hover{
    border-radius: 20px; 
    transition: .5s;

}
.B1C{
    margin-top: 5rem;
    display: flex;
}
.BP{
    width:50% ;
    height: 50%;
}

.BL{
    width: 50%;
}
.BCT1{
    margin-left: 2rem;
}
.BCT1 p{
    font-size: 1.2rem;
}
.BF{
    width: 20%;
}
.BT{
    width: 60%;
    margin-left: 2rem;
}



