.Re{
    margin:2rem 5rem;

}
h3{
    color: #BA2115;
}
@keyframes Rfli {
    50%{ filter: drop-shadow(2px 2px 10px Red);
    }
 }

.Rtitle{
    width: 500px;
    margin-top: 3rem;
    animation: Rfli 2s infinite ;
 
}

.RContent{
    display: flex;
    gap: 6rem;
}
.Rimg{
    width: 500px;
    margin-top: 2rem;
}
.Rpic{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
  
}
.Rpic p{
    font-size: 1.5rem;
    font-weight: bold;
}
.llink{
    margin-top: 2rem;
}
.Rlist{
    list-style: square;
}
.nonstyle{
    list-style: none;

}
 
  
.typew{
    font-size: 3rem;
    width: 30rem;
   display: flex;
   justify-content: center;
} 
.RAbout{
    width: 30%;
    margin-top: 7rem;
}
.Rex{
    margin-top: 7rem;
    width: 30%;

}
.Cfooter{
    height: 3rem;
}
@media screen and (max-width:1100px) {
   
    .Rtitle{
        width: 400px;
        
    } 
    .RContent{
        flex-direction: column;
        gap: 0;
    }
    .RAbout,.Rex{
        width: 100%;
    }
    .Rpic{
       
        width: 100%;
    }
    .Rex{
        margin-top: 3rem;
        width: 100%;
    
    }
}
@media screen and (max-width: 500px) {
    .Rimg{
        width: 300px;
    }
}
@media screen and (max-width: 400px) {
  
    .Rtitle{
        width: 250px;
    }
    .Rpic p{
        font-size: 2rem;
       animation: typing 3s steps(11) infinite , blink-caret .75s steps(12) infinite;

    }
 
 

}